{
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 80,
  "tabWidth": 2,
  "embeddedLanguageFormatting": "auto",
  "bracketSpacing": true,
  "semi": true,
  "plugins": ["prettier-plugin-organize-imports"]
}
